---
/**
 * Redirección según dominio
 * raytecno.es → /es/
 * raytecno.com → /en/
 */
---

<html>
  <head
    ><script>
      location.replace(
        location.hostname.indexOf(".com") !== -1 ? "/en/" : "/es/"
      );
    </script></head
  ><body></body>
</html>
